@font-face {
  font-family: "Sweet Sans Regular";
  src: url(/fonts/SweetSansProRegular.otf);
}
@font-face {
  font-family: "Sweet Sans Medium";
  src: url(/fonts/SweetSansProMedium.otf);
}
@font-face {
  font-family: "Sweet Sans Bold";
  src: url(/fonts/SweetSansProBold.otf);
}
@import url(https://fonts.googleapis.com/css2?family=Spectral&display=swap);
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Sweet Sans Regular", sans-serif;
  background-color: #f4eeed;
  color: #1f1e2c;
  font-weight: 400;
  text-align: center;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.hem_button {
  display: inline-block;
  margin-top: 8px;
  padding: 7px 20px 12px;
  border-radius: 4px;
  background-color: #1f1e2c;
  color: #fff;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}
.hem_home-navbar {
  margin-top: 3%;
}
.hem_home-navbar {
  width: 100%;
  height: 10%;
}
.nav_container {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}
.nav-left,
.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  gap: 15px;
  border-radius: 3%;
}
.mobile-navbar {
  width: 30px;
  height: auto;
  object-fit: fill;
}
.nav-right-el2 {
  background-color: #ebfe00;
  height: 100%;
  display: flex;
  align-items: center;
}
.hem_nav-link {
  font-size: 10px;
  font-family: "Sweet Sans Medium", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  color: black;
}
.w-container::before,
.w-container::after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.hem_hero-h1-copy {
  font-family: "Spectral", sans-serif;
  max-width: 16ch;
  margin: 32px auto 16px;
  font-size: 80px;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.03em;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.hem_heading {
  margin-top: 0px;
  margin-bottom: 0.5em;
  font-family: "Spectral", sans-serif;
  font-size: 28px;
  line-height: 1em;
  font-weight: 300;
  text-align: center;
}
.hem_spacer_small {
  height: 31px;
}
.hem_spacer {
  height: 80px;
}
.hem_button,
.hem_highlight {
  background-color: #ebfe00;
  color: #1f1e2c;
  font-family: "Sweet Sans Medium";
  text-align: center;
}
.hem_carrousel {
  width: 100%;
}
.carrousel_container {
  height: 350px;
  display: flex;
  justify-content: space-between;
  gap: 0.5%;
}
.image_container {
  width: 100%;
  flex: 0 0 25%;
  border-radius: 10px;
}
.image-1 {
  background-image: url("/media/vietnamese-woman-g2c411ca79_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.image-2 {
  background-image: url("/media/woman-g54fe81bb3_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.image-3 {
  background-image: url("/media/woman-g9e72363bb_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.image-4 {
  background-image: url("/media/woman-gf7d65e074_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hem_home-howitworks {
  padding-left: 5%;
  padding-right: 5%;
}
.hem_container {
  height: auto;
  max-width: 1680px;
  text-align: center;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
}
.hem_heading_large {
  max-width: 17ch;
  letter-spacing: -0.03em;
  margin: 0 auto 0.5em;
  font-family: "Spectral", sans-serif;
  font-size: 56px;
  font-weight: 300;
  line-height: 1em;
}
.hem_home-three-col {
  max-width: 1200px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.hem_home-col {
  flex: 1;
  padding-left: 1vw;
  padding-right: 1vw;
}
.hem_howitworks-image {
  margin-bottom: 24px;
}
.hem_text-center {
  margin-bottom: 1em;
  font-family: "Spectral" sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
}
.hem_text-center.hem_width-24ch {
  max-width: 24ch;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hem_button.outline {
  color: #1f1e2c;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #1f1e2c;
}
@media only screen and (max-width: 1020px) {
  .image_container {
    flex: 0 0 50%;
  }
}
